

@import '~vuetify/dist/vuetify.min.css';
@import '~material-design-icons-iconfont/dist/material-design-icons.css';



.main-content-fake-height{
  height: 160vh;
}

.v-toolbar--sticky{
  position: relative;
}

.slider-slide-wrap{
  padding: 5px;
}