<template>
    <v-layout justify-center>
        <v-flex xs12 md6>
            <template v-if='success'>
                <v-alert
                :value="true"
                type="success"
                >
                {{message}}
                </v-alert>

                <v-alert
                :value="true"
                type="info"
                >
                <div v-for='(value, index) in vuexFormData' :key='"field-list-"+index'>
                    {{index}} - {{value}}
                </div>
                </v-alert>

            </template>
            <v-card v-else>
                <v-card-title
                class="headline blue white--text"
                primary-title
                >
                    Contact
                </v-card-title>
                <v-divider></v-divider>
                <v-card-text>
                    <v-form v-model="valid" ref="form">
                        <v-text-field
                        label="Name"
                        v-model="formData.name"
                        :rules="rules.name"
                        ></v-text-field>

                        <v-text-field
                        label="Phone"
                        v-model="formData.phone"
                        :return-masked-value='true'
                        :rules='rules.phone'
                        mask='+#(###) ###-####'
                        ></v-text-field>

                        <v-textarea
                        label="Message"
                        v-model="formData.message"
                        :rules='rules.message'
                        :counter='250'
                        ></v-textarea>
                    </v-form>
                </v-card-text>
                <v-divider></v-divider>
               <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color='primary' @click="sendData" :disabled="!valid">Send</v-btn>
                </v-card-actions>
            </v-card>
        </v-flex>
    </v-layout>
</template>

<script>
export default {
    data: ()=>{
        return {
            valid: false,
            formData:{
                name: '',
                phone:'',
                message: ''
            },
            success:false,
            message:'',
            rules:{
                name: [
                    (v) => !!v || 'Name is required',
                    (v) => v && v.length > 3 || 'Name must be more than 2 characters'
                ],
                message:[
                    (v) => !!v || 'Message is required',
                    (v) => v && v.length <= 250 || 'Message must be less than 250 characters'
                ],
                phone: [
                    (v) => !!v || 'Phone is required',
                    (v) => /\+\d\((\d{3})\)\s(\d{3})\-(\d{4})/.test(v) || 'Phone must be valid'
                ],
            }
        }
    },
    computed:{
        vuexFormData:function(){
            return this.$store.getters.contactForm;
        }
    },
    methods:{
        sendData:function(e){
            axios.post('/send').then((response)=>{
                this.success = response.data.success;
                this.message = response.data.message;

                this.$store.commit('setContact', this.formData)
            })
        }
    }
}
</script>