<template>
    <carousel :per-page-custom='[[1920, 3], [320, 1]]' ref='carousel'>
        <slide v-for='i in 10' :key='"slide-"+i'>
            <div class="slider-slide-wrap">
                <a href="//google.com"  @click="handleSlideClick" @mousedown='handleDown' > 
                    <v-img :src='`/imgs/${i}.jpg`' class="grey lighten-2" aspect-ratio="1">
                    
                    </v-img>
                </a>
            </div>
        </slide>
    </carousel>
</template>

<script>
export default {
    data:()=>{
        return {offsetX: 0, offsetY: 0, timeDown:0}
    },
    methods:{
        handleSlideClick:function(e){
            let a = this.offsetX - e.offsetX;
            let b = this.offsetY - e.offsetY;

            let c = Math.sqrt( a*a + b*b );
            
            if(new Date().getTime() - this.timeDown >= 300 || c != 0){
                e.preventDefault()
            }
        },
        handleDown:function(e){
            this.offsetX = e.offsetX;
            this.offsetY = e.offsetY;
            this.timeDown = new Date().getTime();
            e.preventDefault()
        },
    }
}
</script>
